header{
   height: 100vh;
   
   background: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url('../img/architecture-gf531da1c2_1920.jpg');
   background-position: top;
   background-size: cover;
}

#cep-data .col-sm-12:nth-child(n+1),
#cep-data .col-md-6:nth-child(n+2){
   margin-top: 15px;
}
